@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: 'Roboto Slab', serif;
}

body {
    background: #fff;
    background-size: cover;
    background-attachment: contain;
    background-position: center;
    font-size: 12pt;
    margin: 0px auto 0px auto;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hoja {
    width: 70%;
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}
.pesta{
	margin-bottom: 10px;
}

ul.pesta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul.pesta li {
    width: 12%;
    text-align: center;

}

ul.pesta li a {
    color: #2C3E50;
    font-weight: normal;
    display: block;
    padding: 10px 0;
    
}

.active{
	box-shadow:0px 2px 0px 0px #2C3E50;
}

.articulos h1{
	font-size: 2rem;
}

.articulo1{

}

.imagen-article{
	width: 100%;
	height: auto;
	padding-top: 10px;
}

.articuloTexto{
	padding: 10px;
	color: #2C3E50;
}
.subtitulo{
	display: block;
	color: #2C3E50;
}


.contenido {
    flex: 1 1 75%;

}

.contenido2 {
    padding-top: 0;
    display: flex;
  	min-width: 100%;
  	animation: fadeEffect 1s;

}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.columna1, .columna2 {
    flex: 1 1 50%;
	margin-right: 5px;
}


.fixed{
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
	transition: all .5s;
}

.circulos {
    display: flex;
}



.iconos i{
	font-size: 13pt;
}


.habilidades {
    flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	padding-right: 5px;
}
.habilidades2{
	display: flex;
	flex-direction: column;
}


.textoBarraCarga {
	font-size: 15px;
	color: white;
	padding: 6px;
	position: absolute;
}
 .barraCarga{
  width: 0;
  background-color: #2C3E50;
  text-align: right;
  color: white;
  padding-top: 6px;
  padding-right: 5px;
  height: 30px;
}
.barraContenedor {
  width: 100%;
  background-color: #6D8696;
  margin-top: 8px;
}

.lenguajes{
	padding: 0 10px;
}


.perfilH1 {
    font-size: 13pt;
    padding: 10px;
    padding-top: 20px;
    margin: 0;
    color: #2C3E50;
}
.perfilH12{
	font-size: 13pt;
    padding-top: 20px;
    margin: 0;
    color: #2C3E50;
}
.perfilH2 {
    font-size: 12pt;
    padding: 10px;
    padding-top: 0;
    margin: 0;
    color: #3498DB;
}

.perfilSpan {
	display: inline-block;
    padding: 5px 10px;
    padding-top: 0;
    color: #2C3E50;
    font-weight: 500;
    font-size: 12pt;
}

.perfilP {
    font-size: 12pt;
    padding: 10px;
    padding-top: 0;
    margin: 0;
    color: #2C3E50;
    padding-top: 2px;
}



.imagen img {
	width: 100%;
}

.intereses {
    padding: 10px;
    display: flex;
}
.intereses span {
    color: #2C3E50;
    margin-right: 10px;
}
.card2{
	background-color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    align-self: center;
}
.card2 h1{
	font-size: 1.3em;
	margin: 20px;
}
.card2 p{
	padding: 10px;
}
.title{
	font-size: 18px;
	padding: 10px;
}
.card{
	display: flex;
	width: 100%;
	flex-direction: column;
	background: #fff;

	margin-top: 10px;
}
.cardH1{
	padding: 10px 10px;
	margin-top: -40px;
	font-size: 1.3em;
	color: #2C3E50;
}
.cardP{
	padding:0 10px;
	padding-bottom: 5px;
	font-weight: normal;

}
.imagen-card{
	width: 100%;
	height: auto;
}
.pie-card{
	border-top: 1px solid #EAECEE;
	background:#fff;
}
.pie-card {
	padding:15px;
}
.pie-card a{
	color: #fff;
}


.contacto h1{
	padding: 0;
}
.contacto h2{
	padding: 0;
}
.contacto{
			
			height:auto;
			width: 100%;
			box-sizing: border-box;
		}

		.formulario{
			display: flex;
			flex-direction: column;
			justify-content: center;


		}
		/*------ PADING PARA EL ICONO DE CORREO EN CONTACTO
		------*/
		.contacto-titulo i{
			font-size: 11pt;
			padding-right: 5px;
		}

		/*------ PADING PARA EL ICONO DE CORREO EN CONTACTO
		-------*/
		.contacto h1{
			font-size: 12pt;
			margin:15px;
			margin-left: 10px;
			color: #2C3E50;
		}
		.contacto h2{
			font-size: 12pt;
			margin:0 ;
			margin-left: 10px;
			color: #2C3E50;
		}
		.nombre{
			display: flex;
			justify-content: center;
		}

		

		
		.boton{
			transition: .3s;
			height: 40px;
			width: 30%;
			margin-left: 10px;
			color: #2C3E50;
			background: none;
			border: none;
			font-family: 'Amiri', serif;
			font-size: 12pt;
			border: 2px solid #2C3E50;
			margin-bottom: 10px;
			
		}

		.boton:hover{
			background: #2C3E50;
			outline: 0px;
			color:#fff;
		}
		.boton2{
			display: inline-block;
			transition: .3s;
			height: 40px;
			width: 100%;
			color: #fff;
			background: none;
			border: none;
			font-family: 'Roboto', serif;
			font-size: 12pt;
			background: #000;
			margin-top: 10px;
			
		}
		.boton2 a{
			color:#fff;
		}


		.boton2:hover{
			background: #2C3E50;
			outline: 0px;
			color:#fff;
		}

*::-webkit-input-placeholder{
			color: #ABB2B9;
			
			font-family: 'Roboto Slab', serif;
			font-size: 12pt

		}
		*:-moz-placeholder{
			color: #ABB2B9;
			
			font-family: 'Roboto Slab', serif;
			font-size: 12pt
		}
		*::-moz-placeholder{
			color: #ABB2B9;
			
			font-family: 'Roboto Slab', serif;
			font-size: 12pt
		}
		*:-ms-input-placeholder{
			color: #ABB2B9;
			
			font-family: 'Roboto Slab', serif;
			font-size: 12pt
		}

.footer{
	background: #000;
	height: auto;
	flex:1 1 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;

}
.footerSpan{
	display: inline-block;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 70px;
}
.pie-menu a{
	color: #fff;
	padding: 10px;
}
.pie-menu{
	display: flex;
	padding:10px;
}


.puedes a{
	color: #ccc;
}
.puedes{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nombre input{
			width: 100%;
			margin: 10px;
			height: 40px;
			border: 2px solid #2C3E50;
			padding: 10px;
			box-sizing: border-box;
			color: #ABB2B9;
			font-family: 'Amiri', serif;
			font-size: 12pt;
			outline: 0px;
			transition:all 0.4s;
			background: none;

		}

		.nombre input:focus{
			border: 2px solid #3498DB;
		}
		.area-texto{
			margin: 10px;
			box-sizing: border-box;
			border: 2px solid #2C3E50;
			outline: 0px;
			transition:all 0.4s;
			padding: 10px;
			background: none;
		}
		.area-texto:focus{
			border: 2px solid #3498DB;
		}


@media(max-width: 1400px) {
    .hoja {
        width: 90%;
    }

}

@media (max-width: 1000px) {
		.habilidades{
			flex:1 1 25%;
			padding-left: 5px;

		}
		.contenido{
			flex:1 1 70%;
		}
		.hoja{
			width: 100%;
		}


    
    
    ul.pesta li {
        width: 100%;
        padding-left: 0;
    }
    ul.pesta li a {
        text-align: center;
    }
    .columna2 .card{
	margin-top: 10px;
}
.columna2{
	margin-top: 0;
	padding-top: 0;
}
.columna1{
	margin-bottom: 0px;
}
.contenido2 {
        flex-direction: column;
    }

}

@media(max-width: 850px) {
	.habilidades2{
		padding: 5px;
	}
	.pesta{
			order:2;
		}
	.habilidades{
		order:1;
	}
	.contenido{
		order: 3;
	}
    .hoja {
        flex-direction: column wrap;
        width: 100%;
    }

    .hoja {
        margin: 0;
    }

    .habilidades{
	display: flex;
    }
    .card2{
    	width: 50%;
    }
    .columna1, .columna2 {
    
	margin-right: 0;
}
}
@media(max-width: 700px){
	.habilidades{
		flex-direction: column;
		padding: 0;
	}
	.card2{
		width: 100%;
		margin: auto;
	}
	.habilidades2{
		padding: 10px;
	}
	
}


@media(max-width: 440px) {
    .ilustrador {
        flex-direction: column;
    }
    .hoja {
        width: 100%;
    }
    .columna1,.columna2{
    	margin: 0;
    }
    .card2{
    	width: 100%;
    	max-width: 100%;
    }
}
